.github-repo-details {
  &__container {
    padding: 16px 24px;
    max-width: 100%;
    background-color: var(--color-primary-purpure);
  }

  &__header {
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 14px;
  }

  &__readme {
    overflow: hidden;
  }
}
