<div class="github-repo-list__container" #infiniteScrollContainer>
  <h1 class="github-repo-list__title">GitHub Repo Browser</h1>
  <ul
    class="github-repo-list__list"
    infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="300"
    [infiniteScrollContainer]="infiniteScrollContainer"
    (scrolled)="onScroll()"
  >
    <li
      *ngFor="let repo of listItems; trackBy: trackById"
      class="github-repo-list__item"
      (click)="navigateToDetails(repo.id)"
    >
      {{ repo.owner.login }} / {{ repo.name }} ({{ repo.watchers }})
    </li>
    <ng-container *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </ng-container>
  </ul>
</div>
