.github-repo-list {
  &__container {
    max-height: 100%;
    height: 100%;
    width: 400px;
    padding: 8px 12px;
    overflow: auto;

    &--mobile {
      width: 100vw;
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 6px;
  }

  &__item {
    display: flex;
    width: 100%;
    padding: 4px 16px;
    align-items: center;
    min-height: 32px;
    border-radius: 3px;
    background-color: var(--color-light-grey);
    transition: 0.3s;

    &:hover {
      background-color: var(--color-primary-purpure-accent);
      cursor: pointer;
    }
  }
}
